anyio @ file:///Users/cbousseau/work/recipes/ci_py311/anyio_1677917528418/work/dist
appnope @ file:///Users/cbousseau/work/recipes/ci_py311/appnope_1677917710869/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///Users/cbousseau/work/recipes/ci_py311/argon2-cffi-bindings_1677915727169/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
attrs @ file:///Users/cbousseau/work/recipes/ci_py311/attrs_1677906550284/work
Babel @ file:///Users/cbousseau/work/recipes/ci_py311/babel_1677920677615/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///Users/cbousseau/work/recipes/ci_py311/beautifulsoup4_1677915972563/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
Bottleneck @ file:///Users/cbousseau/work/recipes/ci_py311/bottleneck_1677925122241/work
brotlipy==0.7.0
cachetools==5.3.0
certifi @ file:///Users/cbousseau/work/recipes/ci_py311/certifi_1677903144932/work/certifi
cffi @ file:///Users/cbousseau/work/recipes/ci_py311/cffi_1677903595907/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
comm @ file:///Users/cbousseau/work/recipes/ci_py311/comm_1677919149446/work
cryptography @ file:///Users/cbousseau/work/recipes/ci_py311_2/cryptography_1678994456782/work
debugpy @ file:///Users/cbousseau/work/recipes/ci_py311/debugpy_1677919321378/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
entrypoints @ file:///Users/cbousseau/work/recipes/ci_py311/entrypoints_1677911798787/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///Users/cbousseau/work/recipes/ci_py311_2/python-fastjsonschema_1678996913062/work
flit_core @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_b3azp31yen/croot/flit-core_1679397106077/work/source/flit_core
google-auth==2.17.1
google-auth-oauthlib==1.0.0
gspread==5.7.2
idna @ file:///Users/cbousseau/work/recipes/ci_py311/idna_1677906072337/work
ipykernel @ file:///Users/cbousseau/work/recipes/ci_py311/ipykernel_1677921035781/work
ipython @ file:///Users/cbousseau/work/recipes/ci_py311/ipython_1677919789099/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f07ugy1hvo/croot/ipywidgets_1679394821999/work
jedi @ file:///Users/cbousseau/work/recipes/ci_py311_2/jedi_1678994967789/work
Jinja2 @ file:///Users/cbousseau/work/recipes/ci_py311/jinja2_1677916113134/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2a92785vxi/croot/jsonschema_1678983423459/work
jupyter @ file:///Users/cbousseau/work/recipes/ci_py311/jupyter_1677932849424/work
jupyter-console @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_62liw5pns2/croot/jupyter_console_1679999641189/work
jupyter-server @ file:///Users/cbousseau/work/recipes/ci_py311/jupyter_server_1677919944873/work
jupyter_client @ file:///Users/cbousseau/work/recipes/ci_py311/jupyter_client_1677914181590/work
jupyter_core @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d1sy1hlz9t/croot/jupyter_core_1679906585151/work
jupyterlab @ file:///Users/cbousseau/work/recipes/ci_py311/jupyterlab_1677926406383/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_65wwn9cwab/croot/jupyterlab_widgets_1679055283460/work
jupyterlab_server @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a2bc_jr4kc/croot/jupyterlab_server_1679906303862/work
lxml @ file:///Users/cbousseau/work/recipes/ci_py311/lxml_1677916232378/work
MarkupSafe @ file:///Users/cbousseau/work/recipes/ci_py311/markupsafe_1677914270710/work
matplotlib-inline @ file:///Users/cbousseau/work/recipes/ci_py311/matplotlib-inline_1677918241899/work
mistune @ file:///Users/cbousseau/work/recipes/ci_py311/mistune_1677916714667/work
nbclassic @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e1nnl9j2se/croot/nbclassic_1680008800960/work
nbclient @ file:///Users/cbousseau/work/recipes/ci_py311/nbclient_1677916908988/work
nbconvert @ file:///Users/cbousseau/work/recipes/ci_py311/nbconvert_1677918402558/work
nbformat @ file:///Users/cbousseau/work/recipes/ci_py311/nbformat_1677914501406/work
nest-asyncio @ file:///Users/cbousseau/work/recipes/ci_py311/nest-asyncio_1677912430289/work
notebook @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c00qhhtcqw/croot/notebook_1680012024770/work
notebook_shim @ file:///Users/cbousseau/work/recipes/ci_py311/notebook-shim_1677921216909/work
numexpr @ file:///Users/cbousseau/work/recipes/ci_py311_2/numexpr_1678995162705/work
numpy @ file:///Users/cbousseau/work/recipes/ci_py311/numpy_and_numpy_base_1677921358445/work
oauthlib==3.2.2
packaging @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e946luvhc3/croot/packaging_1678965323926/work
pandas==1.5.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
platformdirs @ file:///Users/cbousseau/work/recipes/ci_py311/platformdirs_1677909443319/work
ply==3.11
prometheus-client @ file:///Users/cbousseau/work/recipes/ci_py311_2/prometheus_client_1678996808082/work
prompt-toolkit @ file:///Users/cbousseau/work/recipes/ci_py311/prompt-toolkit_1677918689663/work
psutil @ file:///Users/cbousseau/work/recipes/ci_py311_2/psutil_1678995687212/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pyOpenSSL @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ddecjfxr7g/croot/pyopenssl_1678965309681/work
PyQt5-sip==12.11.0
pyrsistent @ file:///Users/cbousseau/work/recipes/ci_py311/pyrsistent_1677909782145/work
PySocks @ file:///Users/cbousseau/work/recipes/ci_py311/pysocks_1677906386870/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///Users/cbousseau/work/recipes/ci_py311/pytz_1677920497588/work
pyzmq @ file:///Users/cbousseau/work/recipes/ci_py311/pyzmq_1677912759914/work
qtconsole @ file:///Users/cbousseau/work/recipes/ci_py311/qtconsole_1677927205859/work
QtPy @ file:///Users/cbousseau/work/recipes/ci_py311/qtpy_1677925820115/work
requests @ file:///Users/cbousseau/work/recipes/ci_py311_3/requests_1679433655244/work
requests-oauthlib==1.3.1
rsa==4.9
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sip @ file:///Users/cbousseau/work/recipes/ci_py311/sip_1677923661665/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
slack-sdk @ file:///Users/cbousseau/work/recipes/ci_py311/slack-sdk_1678003214766/work
sniffio @ file:///Users/cbousseau/work/recipes/ci_py311/sniffio_1677917188478/work
soupsieve @ file:///Users/cbousseau/work/recipes/ci_py311/soupsieve_1677915595034/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
terminado @ file:///Users/cbousseau/work/recipes/ci_py311/terminado_1677918849903/work
tinycss2 @ file:///Users/cbousseau/work/recipes/ci_py311/tinycss2_1677917352983/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///Users/cbousseau/work/recipes/ci_py311/tomli_1677905024737/work
tornado @ file:///Users/cbousseau/work/recipes/ci_py311/tornado_1677913116168/work
traitlets @ file:///Users/cbousseau/work/recipes/ci_py311/traitlets_1677911650502/work
typing_extensions @ file:///Users/cbousseau/work/recipes/ci_py311/typing_extensions_1677903486916/work
urllib3 @ file:///Users/cbousseau/work/recipes/ci_py311_2/urllib3_1678996051487/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client @ file:///Users/cbousseau/work/recipes/ci_py311/websocket-client_1677918996745/work
widgetsnbextension @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_cd_nvw5x1_/croot/widgetsnbextension_1679313872684/work
